# Logs
logs
*.log

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# OS-specific temporary files
.DS_Store
Thumbs.db
npm-debug.log

# Coverage
coverage

# Distribution
dist

# Others
.idea
.vscode

#dist
.next
dist

#misc
.DS_Store